<!DOCTYPE html>
<html>
<head>
    <title>SearchlyRailsSample</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body ng-app="rails-sample">
<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Searchly Rails Sample</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a ng-href="#/about">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div class="container">
    <%= yield %>
</div>
<!-- /container -->

</body>
</html>

